---
layout: default
title: About Nandhitha Hariharan
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/nandhitha.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Nandhitha Hariharan</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
                Writer, Feminist, Marketeer
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>
Nandhitha Hariharan is a feminist by belief, a writer by passion and a filter-coffee addict because caffeine and writing are the two things she cannot live without. She enjoys writing about love, feminism and loves reading books. A finance professional turned marketer, she does marketing for brands during the day.

She started her writing journey by penning down movie reviews for The Hindu Nxg. It slowly branched into opinion pieces, book reviews, articles and so on. After this, she was published with an international magazine. She discovered her love for writing about feminism online when her article on dress-code for girls in college was well received.

Today, apart from her day job she runs an initiative called Let’s Talk Life along with a friend which encourages poetry and open discussion in Chennai. Nandhitha loves penning down performance poetry and reading it out aloud because she believes in the therapeutic value it offers.

Nandhitha enjoys reading – While it is hard for most people to pick one book and say it is their favorite, it is quite easy for her. “To Kill A Mocking Bird” remains her all time favorite book  and the spot for the second best book can never quite be filled because there are too many.

Apart from writing, Nandhitha enjoys experimenting with new foods. A big foodie and a movie buff, she likes watching light movies with a huge tub of butter popcorn. An introvert by nature, she can be found with her nose in her favorite book every other day.

She is an aspiring novelist and a storyteller who is working on her current book. Her works can also be found at Women’s Web and many other websites online.

</p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
